.se-toggle {
	display:block;
	height:16px;
	width:16px;
	border:2px solid #f90;
	text-indent:-9999px;
}

.se-icon {
	display:block;
	height:16px;
	width:16px;
	text-indent:-9999px;
	overflow:hidden;
	float:left;
	margin-left:1px;
	background-image:url(../images/sedit/sprite.png);
}

.se-attribute.on {
	border:2px solid #eb057e;
	padding:2px;
	margin:-4px;
}

.se-attribute-controls {
	display:none;
	position:absolute;
	right:0;
	top:0;
	z-index:5;
}

.se-node.se-attribute .se-attribute-controls,
.se-node .se-attribute .se-attribute-controls {
	top:auto;
	bottom:0;
}

.se-node .se-attribute.se-name .se-attribute-controls,
.se-attribute.se-name .se-attribute-controls {
  right:auto;
  left:0;
  top:0;
  bottom:auto;
}

.se-attribute-controls.on {
	display:inline;
}

.se-edit {
	background-position:0 0;
}

.se-node-controls .se-edit {
	background-position:-16px 0;
}

.se-node-controls .se-move {
	background-position:-32px 0;
}

.se-node-controls .se-remove {
	background-position:-48px 0;
}

.se-node-controls .se-hide {
	background-position:-64px 0;
}

.se-node-controls .se-addlocations {
	background-position:-80px 0;
}

.se-node-controls .se-sort {
	background-position:-96px 0;
}

.se-node, .se-attribute {
	position:relative;
}

.se-node.on {
	border:2px solid #fe7f00;
	padding:2px;
	margin:-4px;
}

.se-node-controls {
	display:none;
	position:absolute;
	right:0;
	top:0;
	z-index:5;
}

.se-node-controls.on {
	display:inline;
}


/* ezflow specific */
.se-attribute {
	z-index:0;
}

.attribute-image .se-attribute {
	z-index:1;
}